@font-face {
    font-family: "Futura-book-c";
    src: url(../../fonts/Futurabookc.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Futura-demi-c";
    src: url(../../fonts/Futurademic.otf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "YesevaOne-regular";
    src: url(../../fonts/YesevaOne-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}