@import "base";
@import "fonts";
$main-color: #fff;
$sub-color: #E3B873;
$dark-color: #131313;
$main-font-size: 14px;

body {
    background-color: #959595;
}

.outer-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.hidden {
    display: inline-block;
    width: 1px;
    height: 1px;
    visibility: hidden;
    position: absolute;
}

.header {
    height: 83px;
    display: flex;
    color: $main-color;
    background-color: $dark-color;
    padding-right: 102px;
    &-light {
        font-family: "YesevaOne-regular";
        font-size: 20px;
        text-transform: uppercase;
        color: $main-color;
        width: 100%;
        margin-top: 0;
        text-align: center;
        position: relative;
        font-weight: 100;
    }
    &-dark {
        font-family: "YesevaOne-regular";
        font-size: 20px;
        text-transform: uppercase;
        color: $dark-color;
        width: 100%;
        margin-top: 0;
        text-align: center;
        position: relative;
        font-weight: 100;
    }
    &-logo {
        display: flex;
        align-items: center;
        margin-right: 90px;
        margin-left: 82px;
        &__text {
            font-family: "Futura-demi-c";
            text-transform: uppercase;
            font-size: $main-font-size;
            color: $sub-color;
        }
    }
    &-nav {
        max-width: 582px;
        width: 100%;
        margin-right: 80px;
        line-height: 86px;
        &-list {
            display: flex;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style-type: none;
            justify-content: space-between;
            &__item {
                text-transform: uppercase;
                font-family: "Futura-book-c";
                font-size: $main-font-size;
                &:nth-of-type(1) {
                    color: $sub-color;
                }
            }
        }
    }
    &-phone {
        line-height: 81px;
        height: 50px;
        margin-right: 43px;
        color: $sub-color;
        text-decoration: none;
        font-size: 14px;
        font-family: "Futura-demi-c";
        border-bottom: 1px solid $sub-color;
    }
    &-callback {
        height: 37px;
        width: 161px;
        background-color: $sub-color;
        align-self: center;
        text-transform: uppercase;
        &__text {
            margin: 0;
            line-height: 38px;
            text-align: center;
            font-family: "Futura-demi-c";
            font-size: 13px;
        }
    }
}

.banner {
    display: flex;
    justify-content: flex-end;
    position: relative;
    &-content {
        height: 707px;
        max-width: 1358px;
        width: 100%;
        background-image: url("/assets/images/background_1.png");
        background-repeat: no-repeat;
        background-size: cover;
        &__text {
            margin-left: 60px;
            margin-top: 194px;
            &_big {
                height: 105px;
                max-width: 570px;
                margin-bottom: 0;
                width: 100%;
                font-family: "YesevaOne-regular";
                font-size: 40px;
                text-transform: uppercase;
                color: $main-color;
                font-weight: 500;
                &-addition {
                    color: $sub-color;
                }
            }
            &_small {
                margin-top: 5px;
                margin-bottom: 41px;
                font-family: "Futura-book-c";
                font-size: 22px;
                line-height: 30px;
                max-width: 465px;
                width: 100%;
                color: $main-color;
            }
        }
        &__btns {
            margin-left: 60px;
            display: flex;
            color: $main-color;
            font-family: "Futura-demi-c";
            font-size: 13px;
            text-transform: uppercase;
            text-align: center;
            line-height: 49px;
        }
        &__btn-calculate {
            width: 207px;
            height: 51px;
            background-color: $sub-color;
            margin-right: 20px;
            border: 1px solid $sub-color;
            box-sizing: border-box;
            border-radius: 2px;
        }
        &__btn-submit {
            width: 207px;
            height: 51px;
            background-color: transparent;
            border: 1px solid $main-color;
            box-sizing: border-box;
            border-radius: 2px;
        }
    }
    &-instagram {
        max-height: 82px;
        height: 100%;
        width: 708px;
        transform: rotate(90deg);
        transform-origin: 0 101%;
        position: absolute;
        left: 0;
        top: -84px;
        background-color: $dark-color;
        &__text {
            color: $sub-color;
            text-align: center;
            text-transform: uppercase;
            font-family: "Futura-demi-c";
            font-size: 14px;
            line-height: 55px;
            margin-left: -90px;
            position: relative;
            &::after {
                content: "";
                top: 26px;
                left: 57%;
                position: absolute;
                height: 10px;
                width: 51px;
                border-top: 1px solid $sub-color;
            }
            &_link {
                text-decoration: none;
                color: inherit;
            }
        }
    }
    &-scroll-btn {
        max-width: 247px;
        width: 100%;
        height: 97px;
        bottom: -47px;
        left: 0;
        position: absolute;
        background-color: $dark-color;
        &__text {
            margin-left: 48px;
            font-family: "YesevaOne-regular";
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            line-height: 70px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 30px;
                width: 30px;
                top: 20px;
                right: 45px;
                background-image: url(/assets/images/scroll_down.svg);
                background-repeat: no-repeat;
            }
        }
    }
}

.completed-projects {
    background-color: $dark-color;
    display: flex;
    height: 642px;
    padding-top: 107px;
    &-description {
        margin-top: 40px;
        margin-left: 101px;
        max-width: 442px;
        color: $main-color;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        &__text {
            width: 100%;
            height: 215px;
            &_section-big {
                font-family: "YesevaOne-regular";
                font-size: 27px;
                text-transform: uppercase;
                color: $sub-color;
                max-width: 253px;
                width: 100%;
                position: relative;
                margin-bottom: 34px;
                &::after {
                    content: "";
                    top: 45px;
                    left: 65%;
                    position: absolute;
                    height: 10px;
                    width: 92px;
                    border-top: 1px solid $sub-color;
                }
            }
            &_section-small {
                font-family: "Futura-book-c";
                font-size: 18px;
                line-height: 30px;
            }
            &_desc-big {
                font-family: "YesevaOne-regular";
                font-size: 18px;
                text-transform: uppercase;
                color: $sub-color;
                margin-bottom: 0;
            }
            &_desc-small {
                font-family: "Futura-book-c";
                font-size: 15px;
                line-height: 20px;
                max-width: 120px;
                width: 100%;
            }
        }
        &__text:first-child {
            margin-bottom: 25px;
        }
        &__text:not(:first-child) {
            width: 50%;
            margin-bottom: 50px;
            height: 73px;
        }
        &__slider-controls {
            display: flex;
            max-width: 205px;
            width: 100%;
            height: 15px;
            &_left {
                height: 20px;
                max-width: 45px;
                width: 100%;
                background-image: url(/assets/images/arrow_left.png);
                background-repeat: no-repeat;
                margin-right: 30px;
            }
            &_blocks {
                max-width: 63px;
                width: 100%;
                display: flex;
                &-block {
                    background-image: url(/assets/images/arrow_inactive.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    width: 33%;
                }
                &-block:first-child {
                    background-image: url(/assets/images/arrow_active.png);
                }
            }
            &_right {
                height: 20px;
                max-width: 45px;
                width: 100%;
                background-image: url(/assets/images/arrow_right.png);
                background-repeat: no-repeat;
                margin-left: 30px;
            }
        }
    }
    &-slider {
        width: 59%;
        margin-left: 50px;
        &-nav {
            max-width: 623px;
            width: 100%;
            height: 24px;
            color: $main-color;
            display: flex;
            justify-content: space-between;
            margin-bottom: 45px;
            font-family: "YesevaOne-regular";
            font-size: 14px;
            text-transform: uppercase;
            &__item:first-child {
                color: $sub-color;
                border-bottom: 1px solid $sub-color;
            }
            &__item:not(:first-child) {
                opacity: 0.3;
            }
        }
        &-images {
            overflow: hidden;
            display: flex;
            &__item {
                max-width: 679px;
                width: 100%;
                background-color: lightgrey;
                height: 482px;
                position: relative;
                &-next-btn {
                    position: absolute;
                    width: 90px;
                    height: 90px;
                    top: 40%;
                    left: 20%;
                    background-image: url(/assets/images/slider_btn.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            &__item:first-child {
                background-image: url("/assets/images/slider_1.png");
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 21px;
            }
            &__item:nth-child(2) {
                max-width: 148px;
                background-image: url("/assets/images/slider_2.png");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}

.online-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient($dark-color 35%, $main-color 35%);
    &-video {
        height: 434px;
        max-width: 817px;
        width: 100%;
        margin-top: 58px;
        margin-bottom: 95px;
    }
    &-description {
        margin-top: 0;
        margin-bottom: 92px;
        max-width: 675px;
        width: 100%;
        text-align: center;
        font-family: "Futura-book-c";
        font-size: 20px;
        line-height: 30px;
        position: relative;
        display: inline-block;
    }
    &-description::after {
        content: "";
        top: -26px;
        left: 46%;
        position: absolute;
        height: 10px;
        width: 55px;
        border-top: 1px solid $sub-color;
    }
}

.online-control .header-light {
    &::after {
        content: "";
        top: 36px;
        left: 46%;
        width: 114px;
        height: 28px;
        background-image: url("/assets/images/icon_cam.png");
        position: absolute;
    }
}

.online-control-callback {
    background-color: $main-color;
    height: 248px;
    &-form {
        text-align: center;
        &-top {
            font-family: "Futura-book-c";
            font-size: 18px;
            line-height: 30px;
            height: 51px;
            position: relative;
            margin-bottom: 33px;
            &__info-input {
                border: 0;
                border-bottom: 1px solid #959595;
                height: 40px;
                width: 231px;
                box-sizing: border-box;
                &:nth-of-type(1) {
                    margin-right: 54px;
                    &::-webkit-input-placeholder {
                        color: #000;
                    }
                    &:-ms-input-placeholder {
                        color: #000;
                    }
                    &::-moz-placeholder {
                        color: #000;
                        opacity: 1;
                    }
                }
                &:nth-of-type(2) {
                    &::-webkit-input-placeholder {
                        color: #000;
                    }
                    &:-ms-input-placeholder {
                        color: #000;
                    }
                    &::-moz-placeholder {
                        color: #000;
                        opacity: 1;
                    }
                }
                &-name {
                    position: absolute;
                    margin-top: -15px;
                    font-family: "Futura-book-c";
                    font-size: 15px;
                    color: #959595;
                }
                &-phone {
                    position: absolute;
                    margin-top: -15px;
                    font-family: "Futura-book-c";
                    font-size: 15px;
                    color: #959595;
                }
            }
            &__submit-input {
                height: 51px;
                border: 0;
                width: 200px;
                background-color: $sub-color;
                margin-left: 45px;
                font-family: "Futura-demi-c";
                font-size: 15px;
                text-transform: uppercase;
                color: $main-color;
                line-height: 55px;
            }
        }
        &__checkbox {
            display: none;
            &-check {
                position: relative;
                font-family: "Futura-book-c";
                font-size: 16px;
                &::before {
                    border-radius: 2px;
                    content: "";
                    font-size: 15px;
                    color: #f3f3f3;
                    text-align: center;
                    line-height: 18px;
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    top: -1px;
                    left: -28px;
                    background-color: $sub-color;
                }
            }
        }
    }
}

input[type=checkbox]:checked + label::after {
    content: "\2713";
    border-radius: 2px;
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 18px;
    position: absolute;
    height: 18px;
    width: 18px;
    top: 0;
    left: -28px;
    background-color: $sub-color;
}

.types-of-repair .header-dark {
    &::after {
        content: "";
        top: 36px;
        left: 46%;
        width: 114px;
        height: 28px;
        background-image: url("/assets/images/icon_tools.png");
        position: absolute;
    }
}

.types-of-repair {
    background-color: $main-color;
    &-content {
        display: flex;
        margin-top: 74px;
        padding: 0 102px 124px 102px;
        justify-content: space-between;
        height: 608px;
        &-item {
            &__image {
                height: 421px;
                width: 392px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            &:nth-child(1) .types-of-repair-content-item__image {
                background-image: url("/assets/images/type_1.png");
            }
            &:nth-child(2) .types-of-repair-content-item__image {
                background-image: url("/assets/images/type_2.png");
            }
            &:nth-child(3) .types-of-repair-content-item__image {
                background-image: url("/assets/images/type_3.png");
            }
            &-list {
                background-color: $main-color;
                width: 330px;
                height: 286px;
                bottom: -160px;
                left: 31px;
                position: absolute;
                padding-left: 34px;
                padding-top: 25px;
                box-sizing: border-box;
                box-shadow:  5px 5px 7px #d3d3d3;
                &__type-name {
                    font-family: "YesevaOne-regular";
                    font-size: 18px;
                    margin-top: 0;
                    margin-bottom: 13px;
                }
                &__list {
                    padding-left: 20px;
                    font-family: "Futura-book-c";
                    font-size: 15px;
                    color: #959595;
                }
                &__item {
                    margin-bottom: 8px;
                }
            }
            &__price {
                width: 228px;
                height: 54px;
                background-color: $sub-color;
                position: absolute;
                left: 0;
                bottom: -27px;
                text-align: center;
                font-family: "YesevaOne-regular";
                font-size: 18px;
                text-transform: uppercase;
                color: $main-color;
                line-height: 54px;
            }
        }
    }
}

.free-consultation {
    display: flex;
    background-color: $main-color;
    height: 725px;
    padding-right: 102px;
    padding-bottom: 242px;
    &-scheme {
        margin-top: 55px;
        max-width: 779px;
        height: 631px;
        width: 100%;
        background-image: url("/assets/images/bg_steps.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0px -50px;
        position: relative;
        overflow: hidden;
        &__circle {
            left: -160px;
            width: 624px;
            height: 624px;
            background-color: transparent;
            border: 3px solid $sub-color;
            border-radius: 50%;
            position: absolute;
        }
        &__step {
            position: absolute;
            width: 84px;
            height: 84px;
            background-color: $main-color;
            border-radius: 50%;
            &:nth-child(2) {
                top: 40px;
                right: 375px;
                ::before {
                    content: "01";
                    width: 20px;
                    height: 20px;
                    font-family: "YesevaOne-regular";
                    font-size: 18px;
                    position: absolute;
                    left: 11px;
                    bottom: 8px;
                    color: $main-color;
                }
                ::after {
                    content: "Our specialist will arrive for measurements per day contact, or appoint a date convenient for you";
                    width: 390px;
                    height: 42px;
                    font-family: "Futura-medium-c";
                    font-size: 18px;
                    position: absolute;
                    left: 60px;
                    bottom: 0;
                }
            }
            &:nth-child(3) {
                top: 140px;
                right: 295px;
                ::before {
                    content: "02";
                    width: 20px;
                    height: 20px;
                    font-family: "YesevaOne-regular";
                    font-size: 18px;
                    position: absolute;
                    left: 11px;
                    bottom: 8px;
                    color: $main-color;
                }
                ::after {
                    content: "Free metering";
                    width: 390px;
                    height: 42px;
                    font-family: "Futura-medium-c";
                    font-size: 18px;
                    position: absolute;
                    left: 60px;
                    bottom: 0;
                    line-height: 42px;
                }
            }
            &:nth-child(4) {
                right: 270px;
                top: 290px;
                ::before {
                    content: "03";
                    width: 20px;
                    height: 20px;
                    font-family: "YesevaOne-regular";
                    font-size: 18px;
                    position: absolute;
                    left: 11px;
                    bottom: 8px;
                    color: $main-color;
                }
                ::after {
                    content: "Free consultation";
                    width: 390px;
                    height: 42px;
                    font-family: "Futura-medium-c";
                    font-size: 18px;
                    position: absolute;
                    left: 60px;
                    bottom: 0;
                    line-height: 42px;
                }
            }
            &:nth-child(5) {
                bottom: 105px;
                left: 375px;
                ::before {
                    content: "04";
                    width: 20px;
                    height: 20px;
                    font-family: "YesevaOne-regular";
                    font-size: 18px;
                    position: absolute;
                    left: 11px;
                    bottom: 8px;
                    color: $main-color;
                }
                ::after {
                    content: "Get a cost estimate and\0athe timing of your future repairs";
                    width: 300px;
                    white-space: pre;
                    height: 42px;
                    font-family: "Futura-medium-c";
                    font-size: 18px;
                    position: absolute;
                    left: 60px;
                    bottom: 0;
                }
            }
            &-circle {
                top: 21px;
                left: 21px;
                position: absolute;
                width: 42px;
                height: 42px;
                background-color: $sub-color;
                border-radius: 50%;
            }
        }
    }
    &-form {
        height: 509px;
        max-width: 506px;
        width: 100%;
        background-color: $dark-color;
        margin-top: 106px;
        margin-left: 54px;
        padding: 28px 49px 27px;
        box-sizing: border-box;
        font-family: "Futura-book-c";
        font-size: 18px;
        &__form {
            height: 481px;
        }
        &__title {
            margin: 0 auto 50px;
            font-family: "Futura-demi-c";
            font-size: 20px;
            color: $main-color;
            max-width: 260px;
            text-align: center;
        }
        &__info {
            border: 0;
            border-bottom: 1px solid #959595;
            height: 40px;
            width: 100%;
            background-color: $dark-color;
            box-sizing: border-box;
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    margin-bottom: 56px;
                    &::-webkit-input-placeholder {
                        color: $main-color;
                    }
                    &:-ms-input-placeholder {
                        color: $main-color;
                    }
                    &::-moz-placeholder {
                        color: $main-color;
                        opacity: 1;
                    }
                }
                &:nth-of-type(3) {
                    margin-bottom: 20px;
                }
                &-name {
                    position: absolute;
                    margin-top: -15px;
                    font-family: "Futura-book-c";
                    font-size: 15px;
                    color: #959595;
                }
                &-phone {
                    position: absolute;
                    margin-top: -15px;
                    font-family: "Futura-book-c";
                    font-size: 15px;
                    color: #959595;
                }
                &-mail {
                    position: absolute;
                    margin-top: -15px;
                    font-family: "Futura-book-c";
                    font-size: 15px;
                    color: #959595;
                }
        }
        &__checkbox {
            display: none;
            &-check {
                margin-left: 28px;
                position: relative;
                font-family: "Futura-book-c";
                font-size: 16px;
                color: $main-color;
                &::before {
                    border-radius: 2px;
                    content: "";
                    font-size: 15px;
                    color: #f3f3f3;
                    text-align: center;
                    line-height: 18px;
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    top: -1px;
                    left: -28px;
                    background-color: $sub-color;
                }
            }
        }
        &__submit {
            height: 51px;
            border: 0;
            width: 200px;
            float: right;
            background-color: $sub-color;
            margin-top: 38px;
            font-family: "Futura-demi-c";
            font-size: 13px;
            text-transform: uppercase;
            color: $main-color;
        }
        &__saving {
            margin-left: -25px;
            margin-top: 38px;
            height: 73px;
            width: 73px;
            background-image: url("/assets/images/icon_pig.png");
            background-repeat: no-repeat;
            background-position: center 25%;
            position: relative;
            &::after {
                content: "Help save 10 - 20% of the cost of materials";
                height: 10px;
                width: 245px;
                top: 12px;
                left: 95px;
                position: absolute;
                font-family: "Futura-demi-c";
                font-size: 20px;
                color: $sub-color;
                word-spacing: 3.25px;
            }
        }
    }
}

.design-themes {
    display: flex;
    height: 864px;
    background-image: url("/assets/images/bg_themes.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 137px 102px 0 99px;
    box-sizing: border-box;
    &-list {
        max-width: 350px;
        width: 100%;
        &__name {
            font-family: "YesevaOne-regular";
            font-size: 27px;
            text-transform: uppercase;
            line-height: 36px;
            color: $sub-color;
            margin-top: 0;
            margin-bottom: 47px;
        }
        &__list {
            padding: 0;
            font-family: "Proxima-nova";
            font-size: 20px;
            list-style: none;
        }
        &__item {
            color: $main-color;
            margin-bottom: 25px;
            &:nth-of-type(1) {
                color: $sub-color;
                border-bottom: 1px solid $sub-color;
                width: 148px;
            }
        }
    }
    &__images {
        height: 946px;
        max-width: 354px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        &:nth-of-type(2) {
            margin: -178px 43px 0 137px;
            & .design-themes__images_big {
                background-image: url("/assets/images/themes_big_1.png");
            }
            & .design-themes__images_small {
                background-image: url("/assets/images/themes_sm_1.png");
            }
        }
        &:nth-of-type(3) {
            margin-top: -249px;
            & .design-themes__images_big {
                background-image: url("/assets/images/themes_big_2.png");
            }
            & .design-themes__images_small {
                background-image: url("/assets/images/themes_sm_2.png");
            }
        }
        &_big {
            width: 100%;
            height: 556px;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &_small {
            width: 100%;
            height: 350px;
        }
    }
}

.design-project .header-dark {
    &::after {
        content: "";
        top: 36px;
        left: 46%;
        width: 114px;
        height: 28px;
        background-image: url("/assets/images/icon_pens.png");
        position: absolute;
    }
}

.design-project {
    padding-top: 154px;
    background: linear-gradient($main-color 57.5%, $dark-color 57.5%);
    &-description {
        margin: 64px auto 45px;
        max-width: 760px;
        width: 100%;
        font-family: "Futura-book-c";
        font-size: 20px;
        text-align: center;
    }
    &-types {
        display: flex;
        padding: 0 102px 124px 102px;
        justify-content: space-between;
        height: 583px;
        &-item {
            &__image {
                height: 421px;
                width: 392px;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            &:nth-child(1) .design-project-types-item__image {
                background-image: url("/assets/images/design_1.png");
                & .design-project-types-item-list {
                    height: 211px;
                    bottom: -84px;
                }
            }
            &:nth-child(2) .design-project-types-item__image {
                background-image: url("/assets/images/design_2.png");
                & .design-project-types-item-list {
                    height: 286px;
                    bottom: -159px;
                }
            }
            &:nth-child(3) .design-project-types-item__image {
                background-image: url("/assets/images/design_3.png");
                & .design-project-types-item-list {
                    height: 414px;
                    bottom: -287px;
                }
            }
            &-list {
                background-color: $main-color;
                width: 330px;
                height: 286px;
                left: 31px;
                position: absolute;
                padding-left: 34px;
                padding-top: 25px;
                box-sizing: border-box;
                &__name {
                    font-family: "YesevaOne-regular";
                    font-size: 18px;
                    margin-top: 0;
                    margin-bottom: 13px;
                }
                &__list {
                    padding-left: 20px;
                    font-family: "Futura-book-c";
                    font-size: 15px;
                    color: #959595;
                }
                &__item {
                    margin-bottom: 8px;
                }
            }
            &__price {
                width: 228px;
                height: 54px;
                background-color: $sub-color;
                position: absolute;
                left: 0;
                bottom: -27px;
                box-sizing: border-box;
                padding-left: 33px;
                font-family: "YesevaOne-regular";
                font-size: 18px;
                text-transform: uppercase;
                color: $main-color;
                line-height: 54px;
            }
        }
    }
}

.working-process {
    background-color: $dark-color;
    display: flex;
    height: 686px;
    padding-left: 102px;
    padding-right: 102px;
    &-description {
        max-width: 442px;
        color: $main-color;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        &__top {
            &_small-text {
                margin-top: 0;
                margin-bottom: 18px;
                font-family: "Futura-demi-c";
                font-size: 15px;
                text-transform: uppercase;
            }
            &_big-text {
                margin-top: 0;
                margin-bottom: 92px;
                font-family: "YesevaOne-regular";
                font-size: 27px;
                text-transform: uppercase;
                color: $sub-color;
                max-width: 210px;
                width: 100%;
                position: relative;
                &::after {
                    content: "";
                    top: 45px;
                    left: 100%;
                    position: absolute;
                    height: 10px;
                    width: 92px;
                    border-top: 1px solid $sub-color;
                }
            }
        }
        &__bottom {
            &_big-count {
                margin-top: 0;
                margin-bottom: 22px;
                font-family: "YesevaOne-regular";
                font-size: 18px;
            }
            &_big-text {
                margin-bottom: 16px;
                font-family: "YesevaOne-regular";
                font-size: 15px;
                text-transform: uppercase;
                line-height: 22px;
                color: $sub-color;
            }
            &_small-text {
                font-family: "Futura-book-c";
                font-size: 15px;
                line-height: 26px;
                max-width: 335px;
            }
        }
        &__slider-controls {
            display: flex;
            margin-top: 80px;
            max-width: 290px;
            width: 100%;
            height: 15px;
            &_left {
                height: 20px;
                max-width: 45px;
                width: 100%;
                background-image: url(/assets/images/arrow_left.png);
                background-repeat: no-repeat;
                margin-right: 30px;
            }
            &_blocks {
                max-width: 145px;
                width: 100%;
                display: flex;
                &-block {
                    background-image: url(/assets/images/arrow_inactive.png);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    width: 33%;
                }
                &-block:first-child {
                    background-image: url(/assets/images/arrow_active.png);
                }
            }
            &_right {
                height: 20px;
                max-width: 45px;
                width: 100%;
                background-image: url(/assets/images/arrow_right.png);
                background-repeat: no-repeat;
                margin-left: 30px;
            }
        }
    }
    &-right {
        max-width: 766px;
        margin-top: 86px;
        margin-left: 29px;
        width: 100%;
        &-steps {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 22px;
            justify-content: space-between;
        }
        &-step {
            max-width: 125px;
            width: 100%;
            color: #959595;
            margin-right: 130px;
            &__number {
                margin-top: 0;
                margin-bottom: 12px;
                display: inline-block;
                font-family: "YesevaOne-regular";
                font-size: 15px;
                border-bottom: 1px solid $sub-color;
            }
            &__description {
                margin-top: 0;
                margin-bottom: 38px;
                font-family: "Futura-book-c";
                font-size: 15px;
            }
        }
        &-step:nth-of-type(1) {
            color: $main-color;
        }
        &-step:nth-of-type(3n) {
            margin-right: 0;
            max-width: 97px;
        }
        &__image {
            max-width: 766px;
            width: 100%;
            height: 377px;
            background: url("/assets/images/slider_steps.png") no-repeat;
            background-size: cover;
        }
    }
}

.employees .header-light {
    &::after {
        content: "";
        top: 36px;
        left: 46%;
        width: 114px;
        height: 28px;
        background-image: url("/assets/images/icon_team.png");
        position: absolute;
    }
}

.employees {
    padding-top: 95px;
    background: linear-gradient($dark-color 54%, $main-color 54%);
    &-description {
        margin: 64px auto 80px;
        max-width: 760px;
        width: 100%;
        font-family: "Futura-book-c";
        font-size: 20px;
        text-align: center;
        color: $main-color;
    }
    &-photos {
        display: flex;
        justify-content: space-between;
        padding: 0 206px;
    }
    &-photo {
        width: 272px;
        height: 358px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &__icon {
            position: absolute;
            width: 70px;
            height: 70px;
            top: -35px;
            left: -35px;
            background-color: $sub-color;
            &_small {
                width: 44px;
                height: 44px;
                margin: 13px auto 0;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &__person {
            width: 233px;
            height: 137px;
            bottom: -56px;
            left: 20px;
            text-align: center;
            position: absolute;
            background-color: $main-color;
            &_big {
                font-family: "YesevaOne-regular";
                font-size: 18px;
                margin-top: 24px;
                margin-bottom: 8px;
            }
            &_small {
                font-family: "Futura-book-c";
                font-size: 18px;
                color: #959595;
                margin-top: 0;
            }
        }
        &__exp {
            height: 44px;
            width: 100%;
            line-height: 44px;
            position: absolute;
            bottom: 0;
            background-color: $sub-color;
            color: $main-color;
            font-family: "YesevaOne-regular";
            font-size: 13px;
            text-transform: uppercase;
        }
    }
    &-photo:nth-of-type(1) {
        background-image: url("/assets/images/person_1.png");
        & .employees-photo__icon_small {
            background-image: url("/assets/images/person_1_1.png");
        }
    }
    &-photo:nth-of-type(2) {
        background-image: url("/assets/images/person_2.png");
        & .employees-photo__icon_small {
            background-image: url("/assets/images/person_2_1.png");
        }
    }
    &-photo:nth-of-type(3) {
        background-image: url("/assets/images/person_3.png");
        & .employees-photo__icon_small {
            background-image: url("/assets/images/person_3_1.png");
        }
    }
    &-description-additional {
        margin: 122px auto 0;
        padding-bottom: 92px;
        max-width: 675px;
        width: 100%;
        text-align: center;
        font-family: "Futura-book-c";
        font-size: 20px;
        line-height: 30px;
        position: relative;
        display: block;
        &::after {
            content: "";
            top: -15px;
            left: 46%;
            position: absolute;
            height: 10px;
            width: 55px;
            border-top: 1px solid #E3B873;
        }
        &__item {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.clients .header-dark {
    &::after {
        content: "";
        top: 36px;
        left: 46%;
        width: 114px;
        height: 28px;
        background-image: url("/assets/images/icon_hands.png");
        position: absolute;
    }
}

.clients {
    background-color: $main-color;
    padding: 0 102px 159px;
    &-description {
        margin: 64px auto 45px;
        max-width: 390px;
        width: 100%;
        font-family: "Futura-book-c";
        font-size: 20px;
        text-align: center;
        color: $dark-color;
    }
    &-feedback {
        display: flex;
        justify-content: space-between;
    }
    &-person-feedback {
        max-width: 376px;
        height: 428px;
        padding: 24px 30px 85px 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 1px 1px 10px #d3d3d3;
        position: relative;
        &__photo {
            width: 76px;
            height: 76px;
            border-radius: 50%;
        }
        &__name {
            font-family: "YesevaOne-regular";
            font-size: 18px;
            max-width: 178px;
            height: 76px;
            padding-top: 10px;
            margin-left: 18px;
            display: flex;
            align-self: center;
            line-height: 25px;
        }
        &__text {
            font-family: "Futura-book-c";
            font-size: 15px;
            line-height: 28px;
            color: #959595;
        }
        &-plan {
            height: 54px;
            width: 294px;
            background-color: $sub-color;
            position: absolute;
            bottom: - 27px;
            left: 0;
            display: flex;
            font-family: "YesevaOne-regular";
            font-size: 17px;
            text-transform: uppercase;
            color: $main-color;
            &__size {
                width: 48%;
                background: url("/assets/images/icon_feedback_text_1.png") no-repeat 14% 50%;
                border-right: 1px solid $main-color;
                padding-left: 22%;
                box-sizing: border-box;
                line-height: 54px;

            }
            &__time {
                width: 53%;
                background: url("/assets/images/icon_feedback_text_2.png") no-repeat 15% 50%;
                line-height: 54px;
                padding-left: 22%;
                box-sizing: border-box;
            }
        }
        &:nth-of-type(1) .clients-person-feedback__photo {
            background: url("/assets/images/person_photo_1.png") no-repeat;
            background-size: cover;
        }
        &:nth-of-type(2) .clients-person-feedback__photo {
            background: url("/assets/images/person_photo_2.png") no-repeat;
            background-size: cover;
        }
        &:nth-of-type(3) .clients-person-feedback__photo {
            background: url("/assets/images/person_photo_3.png") no-repeat;
            background-size: cover;
        }
    }
}

.feedback {
    background: $main-color;
    position: relative;
    &-form {
        height: 445px;
        width: 884px;
        padding: 34px 182px;
        box-sizing: border-box;
        background-color: #131313;
        margin: 0 auto;
        font-family: "Futura-book-c";
        font-size: 18px;
        position: relative;
        z-index: 10;
        & .header-light {
            margin-bottom: 62px;
        }
        &__info {
            border: 0;
            border-bottom: 1px solid #959595;
            height: 40px;
            width: 100%;
            background-color: $dark-color;
            box-sizing: border-box;
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
                margin-bottom: 56px;
                &::-webkit-input-placeholder {
                    color: $main-color;
                }
                &:-ms-input-placeholder {
                    color: $main-color;
                }
                &::-moz-placeholder {
                    color: $main-color;
                    opacity: 1;
                }
            }
            &:nth-of-type(1),
            &:nth-of-type(2) {
                max-width: 245px;
            }
            &:nth-of-type(2) {
                margin-left: 25px;
            }
            &:nth-of-type(3) {
                margin-bottom: 46px;
            }
            &-name {
                position: absolute;
                margin-top: -15px;
                font-family: "Futura-book-c";
                font-size: 15px;
                color: #959595;
            }
            &-phone {
                position: absolute;
                margin-top: -15px;
                margin-left: 25px;
                font-family: "Futura-book-c";
                font-size: 15px;
                color: #959595;
            }
            &-question {
                position: absolute;
                margin-top: -15px;
                font-family: "Futura-book-c";
                font-size: 15px;
                color: #959595;
            }
        }
        &__checkbox {
            display: none;
            &-check {
                margin-left: 28px;
                position: relative;
                font-family: "Futura-book-c";
                font-size: 16px;
                color: $main-color;
                display: block;
                text-align: center;
                &::before {
                    border-radius: 2px;
                    content: "";
                    font-size: 15px;
                    color: #f3f3f3;
                    text-align: center;
                    line-height: 18px;
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    top: -1px;
                    left: 88px;
                    background-color: $sub-color;
                }
            }
            &:checked + label::after {
                top: -1px !important;
                left: 88px !important;
            }
        }
        &__submit {
            height: 51px;
            border: 0;
            width: 200px;
            background-color: $sub-color;
            margin: 42px auto 0;
            font-family: "Futura-demi-c";
            font-size: 15px;
            text-transform: uppercase;
            color: $main-color;
            display: block;
            line-height: 51px;
        }
    }
}

.address {
    height: 954px;
    background: url("/assets/images/bg_bottom.png") no-repeat #181818;
    background-size: cover;
    margin-top: -222px;
    position: relative;
    padding-top: 275px;
    box-sizing: border-box;
    &__description {
        max-width: 590px;
        width: 100%;
        margin: 0 auto;
        font-family: "YesevaOne-regular";
        font-size: 20px;
        text-transform: uppercase;
        color: $sub-color;
        font-weight: 100;
        text-align: center;
        line-height: 28px;
        &-phone {
            text-decoration: none;
            color: $sub-color;
        }
    }
    &-icons {
        margin: 25px auto 43px;
        display: flex;
        width: 71px;
        height: 28px;
        justify-content: space-between;
        &__mail {
            width: 28px;
            height: 28px;
            background: url("/assets/images/small_icon_mail.png") no-repeat;
            background-size: contain;
        }
        &__instagram {
            width: 28px;
            height: 28px;
            background: url("/assets/images/small_icon_insta.png");
            background-size: contain;
        }
    }
    &__location {
        max-width: 925px;
        width: 100%;
        height: 465px;
        background: url("/assets/images/map_bottom.png") no-repeat;
        background-size: cover;
        margin: 0 auto;
    }
}

.footer {
    height: 83px;
    display: flex;
    color: $main-color;
    background-color: $dark-color;
    padding-right: 102px;
    &-logo {
        display: flex;
        align-items: center;
        margin-right: 90px;
        margin-left: 82px;
        &__text {
            font-family: "Futura-demi-c";
            text-transform: uppercase;
            font-size: $main-font-size;
            color: $sub-color;
        }
    }
    &-nav {
        max-width: 582px;
        width: 100%;
        margin-right: 80px;
        line-height: 86px;
        &-list {
            display: flex;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style-type: none;
            justify-content: space-between;
            &__item {
                text-transform: uppercase;
                font-family: "Futura-book-c";
                font-size: $main-font-size;
                &:nth-of-type(1) {
                    color: $sub-color;
                }
            }
        }
    }
    &-phone {
        line-height: 81px;
        height: 50px;
        margin-right: 43px;
        color: $sub-color;
        text-decoration: none;
        font-size: 14px;
        font-family: "Futura-demi-c";
        border-bottom: 1px solid $sub-color;
    }
    &-callback {
        height: 37px;
        width: 161px;
        background-color: $sub-color;
        align-self: center;
        text-transform: uppercase;
        &__text {
            margin: 0;
            line-height: 38px;
            text-align: center;
            font-family: "Futura-demi-c";
            font-size: 13px;
        }
    }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}